form {
    display: flex;
    width: 600px;
    height: fit-content;
    flex-direction: column;
    background-color: #151515;
    border-radius: 0.5em;
    color: white;
}
.form-container{
    margin-top: 100px;
    display: flex;
    justify-content: center;
}
h1{
    color: white;
}

